.record__button {
  width: 168px;
  height: 42px;
  display: flex;
  box-sizing: border-box;
  background: none;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 1)
}


.header {
  display: flex;
  margin-top: 20px;
  height: 42px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  &__list {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;

    @include onDesktop {
      display: flex;
      gap: 40px;
    }
  }

  &__item {
    margin: 0;
  }

  &__button {
    display: none;

    @include onTablet {
      display: flex;
    }
  }

  &__menu {
    @include onDesktop {
      display: none;
    }
  }
}
