$bg: #121212;
$black: #121212;
$accent: rgba(139, 87, 194, 1);
$gradient: linear-gradient(139.09deg, #362536 10.76%, #121212 43.45%);
$white: #fff;
$green: #1a5a4c;
$grey: #687480;
$orange: #f14a27;
$backgound: #fff;
$menuBackgound: #e5e5e5;

$duration: 0.3s;


